body {
    font-size: medium;
    background-color:blanchedalmond;
}
h1 {
    text-align: center;
}
/*Used flexbox instead of tables for formatting. Used tutorial:
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.container {
    display: flex;
    justify-content: flex-start;
}
#contentdiv {
    background-color: white;
    width: 40em;
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}
.item {
    /*Divs containing selections.*/
    /*border: solid;*/
    padding: 1em;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 32em;
}
th, td {
    padding: 4px;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}

#checkboxErrorOutput {
    font-weight: bold;
    color: red;

}